.song-carousel-container{
    width: 100vw;
    background-color: rgb(248, 244, 244);
}
.song-poster{
    height: 300px;
    border: 1px solid gold;
    border-radius: 10px;
    overflow: hidden;
}
.song-grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.song-poster  img{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.song-card-container{
    height: 640px;
    background-color: rgb(0, 0, 0);
}
.song-card{
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgb(104, 103, 103)), var(--img);
}
.song-detail{
    position: absolute;
    top:200px;
    display: flex;
    justify-content: space-evenly;
    width:100%;
}
.song-title{
    color:white;
    display: flex;
    align-items: center;
    margin-top: 125px; /* adjust as needed */
    /* margin-right: 10px; adjust as needed */
}

.song-buttons-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:300px;
}

.play-button-icon-container{
    padding:0px;
    margin:0px;
    width:150px;
}
.play-button-icon{
    padding:0px;
    margin:0px;
    color:gold;
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;
}
.play-button-icon:hover{
    font-size: 4rem;
    color:white;
}
.song-review-button-container {
    margin-right: 10px; /* Adjust the value as needed */
}

.song-review-button-container:last-child {
    margin-right: 0;
}

.review-button-grid{
    display: flex;
    align-items: center;
}
.h1{
    text-align: center;
}
.vevo-background {
    background: linear-gradient(to right, #1487d3, #080808); /* Example gradient */
    background-size: cover;
    background-position: center;
}

.gridButtons {
    height:0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear, height 0.5s ease;
}
.card:hover .gridButtons {
    visibility: visible;
    opacity: 1;
    height:40px;
}
.custom-text-field {
        /* width:"60%"; */
    padding: 12px 20px;
    margin: 8px 0;
    background-color: aliceblue;
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 5px;
    /* box-sizing: border-box; */
}

@media only screen and (max-width: 800px) {
    .song-detail{
        flex-direction: column;
        align-items: center;
        top:20px;
    }
}
